body {
  background: indigo;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

canvas {
  border: 1px solid black;
}

#game-block {
  width: 34.5%;
  margin: 0 auto;
}

#options {
  margin: 2% auto;
  width: 30%;
}

#scores-table {
  width: 50%;
  margin: 3% auto;
  background: orange;
}

td {
  padding: 3%;
}
