<html ng-app='my-app'>

  <head>
    <title>How To Play</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'></link>
    <link rel='stylesheet' href='../assets/stylesheets/styles.css'></link>
  </head>

  <body>

    <ng-include src="'../header.html'"></ng-include>

    <h1>How To Play</h1>
    
    <div id='help-block'>
      
      <p>
        You control a snake. Your objective is to find delicious red apples and eat them. For every apple, the snake
        will grow larger. You gain 1 point for each apple.
      </p>
      
      <p>
        For every 10 points you earn, you level up. Keep earning points and you will be rewarded for your hard
        work with achievements. Or simply try to beat your high score.
      </p>
      
      <p>
        You must avoid obstacles such as the four walls or any part of the snake itself. This gets harder as the game
        advances. The snake will take up more space on the board, leaving less space to maneuver the snake.
      </p>
    
      <p><strong>Controls</strong></p>
      
      <ul>
        <li>Left Arrow: Move the snake to the left</li><br>
        <li>Right Arrow: Move the snake to the right</li><br>
        <li>Up Arrow: Move the snake up</li><br>
        <li>Down Arrow: Move the snake down</li>
      </ul>
    </div>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src='../scripts/app.js'></script>
    <script src='../scripts/controllers/navController.js'></script>
    
  </body>
</html>