<html ng-app='my-app'>

  <head>
    <title>High Scores</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../assets/stylesheets/styles.css'></link>
  </head>

  <body>
    
    <ng-include src="'../header.html'"></ng-include>
    
    <h1>High Scores</h1>
    
    <table id='scores-table' ng-controller='scoresController'>
    
      <tr id='scores-header'>
        <th>Ranking</th>
        <th>Score</th>
        <th>Level</th>
      </tr>
      
      <tr ng-repeat='data in scoreData' class='{{ data.class }}'>
          <td><strong>Rank {{ $index + 1 }}</strong></td>
          <td class='score'>{{ data.score || 0 }}</td>
          <td class='level'>{{ data.level || 0 }}</td>
        </tr>
      
    </table>
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src='../scripts/app.js'></script>
    <script src='../scripts/data.js'></script>
    <script src='../scripts/services/game.js'></script>
    <script src='../scripts/controllers/navController.js'></script>
    <script src='../scripts/controllers/scoresController.js'></script>
  
  </body>
</html>